---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from "astro:content";
import SidebarComponent from 'astro-navigations/astro';
import generateMenuData from '../../utility';
const menuData = generateMenuData('src/content');
export const marketingCollection = "marketing" as const; 
export const marketingEntries = await getCollection<typeof marketingCollection>(marketingCollection);

export async function getStaticPaths() {
    return marketingEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Layout title="Package" >
    <div class="theme-sidebar-content">
        <SidebarComponent  menuData={menuData} />       
        <main>
            <Content/>	
        </main>
    </div> 
</Layout>

<style>
	.theme-sidebar-content {
        min-height: calc(100vh - 170px); 
        max-height: 100%;
        display: flex;
        align-items: stretch;
        overflow: auto;
        color: #17181c;
        font-size: 14px;
        line-height: 18px;
	}
    main {
		flex-grow: 1;
		padding: 20px;
	}
</style>
