---
import Layout from '../layouts/Layout.astro';

import SidebarComponent from 'astro-sidebar-menu/astro';

import generateMenuData from '../utility';
// Generate the menu data based on your project's file structure
const menuData = generateMenuData('src/content');
---
<Layout title="Package" >
	<div style="display: flex;">
        <aside>
        	<!-- <h2>Sidebar Menu</h2> -->
			<SidebarComponent  menuData={menuData} />
			<!-- <SidebarComponent customLiClass="sidebar-menu-li" customUlClass="sidebar-menu-ul" menuData={menuData} /> -->          
        </aside>
        <main>
            <!-- <h1 class="text-2xl font-semibold">Page Title</h1> -->
        </main>
    </div> 
</Layout>