---
import Layout from '../layouts/Layout.astro';

import SidebarComponent from 'sidebar-menu-astro/astro';

import generateMenuData from '../utility';
// Generate the menu data based on your project's file structure
const menuData = generateMenuData('src/content');
---
<Layout title="Package" >
	<div class="theme-sidebar-content">
			<SidebarComponent  menuData={menuData} />       
        <main>
        </main>
    </div> 
</Layout>


<style>
	.theme-sidebar-content {
        height: calc(100vh - 187px);
        max-height: 100%;
        display: flex;
        align-items: stretch;
        align-content: stretch;
	}
</style>