---
import Layout from '../layouts/Layout.astro';

import SidebarComponent from 'astro-navigations/astro';

import generateMenuData from '../utility';
// Generate the menu data based on your project's file structure
const menuData = generateMenuData('src/content');
---
<Layout title="Package" >
	<div class="theme-sidebar-content">
			<SidebarComponent  menuData={menuData} />       
        <main>
        </main>
    </div> 
</Layout>


<style>
	.theme-sidebar-content {
        min-height: calc(100vh - 170px); 
        max-height: 100%;
        display: flex;
        align-items: stretch;
        overflow: auto;
        color: #17181c;
        font-size: 14px;
        line-height: 18px;
	}
    main {
		flex-grow: 1;
		padding: 20px;
	}
</style>